.navbar-custom {
  background-color: #ffffff;
  border-color: #eeeeee;
}
.navbar-custom .navbar-brand {
  color: #120402;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #000000;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #120402;
}
.navbar-custom .navbar-nav > li > a {
  color: #120402;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #f04b37;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #f04b37;
  background-color: #eeeeee;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #ededed;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #f04b37;
  border-bottom-color: #f04b37;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #eeeeee;
  color: #f04b37;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #f04b37;
  border-bottom-color: #f04b37;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #120402;
  border-bottom-color: #120402;
}
.navbar-header a {
  margin: 2px;
}
.navbar-header a img {
  height: 46px;
}
.navbar-right {
  margin-right: 0px;
}
.nopadding {
  margin: 0px;
  padding: 0px;
}
.sharp {
  border-radius:0;
}

/*this is override from bootstrap*/

.btn.outline {
    background: none;
}
.btn-default.outline {
    border: 2px solid #120402;
}
.btn-default.outline:hover, 
.btn-default.outline:focus, 
.btn-default.outline:active, 
.btn-default.outline.active, 
.open > .dropdown-toggle.btn-default {
    color: #33a6cc;
    border-color: #33a6cc;
}

.btn-default.outline:active, 
.btn-default.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}



@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #120402;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f04b37;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f04b37;
    background-color: #eeeeee;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }

.navbar-custom .navbar-link {
  color: #120402;
}
.navbar-custom .navbar-link:hover {
  color: #f04b37;

}
}