


<div class="breadcrumbs" id="breadcrumbs" style="margin-top:10px;">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active"><a href="#">Admin Homepage</a></li>
    </ul>
</div>

<div class="container"  ng-controller="show_user_controller">
    <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search a user" ng-model="search_user">
      </div>      
    </div>
  </form>
  
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name of person 
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'email'; sortReverse = !sortReverse">
          email
            <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'phone'; sortReverse = !sortReverse">
          Telephone
            <span ng-show="sortType == 'phone' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'phone' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'aboutme'; sortReverse = !sortReverse">
          About him/her
            <span ng-show="sortType == 'aboutme' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'aboutme' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'created'; sortReverse = !sortReverse">
          created
            <span ng-show="sortType == 'created' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'created' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:search_user">
        <td>{{ roll.name }}</td>
        <td>{{ roll.email }}</td>
        <td>{{ roll.phone }}</td>
        <td>{{ roll.aboutme }}</td>
        <td>{{ roll.created }}</td>
      </tr>
    </tbody>
    
  </table>
</div>

